.footer-section {
  padding: 10rem 15rem;
  background-image: url("../assets/footer-bg.svg");

  background-position: left top;
  background-size: cover;
}
.footer-container {
  padding: 1.5rem 2.5rem;

  display: grid;
  grid-template-columns: 2fr repeat(3, 1fr);
}
.footer-col {
  padding: 1.5rem 2.5rem;
  color: #fff;
}
.footer-text {
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.footer-list {
  list-style: none;
}
.footer-item {
  padding: 1rem 0;
  a {
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
  }
}
.footer-sub {
  padding: 5.5rem 2.5rem;
  background-color: #fff;
  color: #6a6972;
  font-weight: 500;
  display: flex;
  box-shadow: 0 5px 30px 0 rgba(145, 140, 140, 0.16);
  justify-content: space-between;
  border-radius: 1rem;
}
.links {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.footer-p {
  &-one {
    font-size: 35px;
    font-weight: 500;
    color: #000;
    display: block;
  }
  &-two {
    font-size: 3rem;
  }
}
.sub {
  display: flex;
  align-items: center;
  width: 50%;
  a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    display: flex;
    align-items: center;
    padding: 0 1.7rem;
    height: 65px;
    background-image: linear-gradient(to right, #fe8464, #fe6e9a, #fe8464);
  }
}
.input {
  border: 2px solid #e1e1e1;
  height: 65px;
  border-radius: 5px;
  color: #2e2e2e;
  padding: 0 30px;
  margin-right: -5px;
  width: 100%;
  &:focus {
    border: 2px solid #000080;
  }
}

.copyright {
  color: #fff;
  font-size: 1.4rem;
  position: relative;
  &::before {
    content: "";
    background-color: rgba(246, 246, 246, 0.5);
    position: absolute;
    top: 2rem;
    width: 100%;
    height: 1px;
  }
}

.uni {
  color: rgb(193, 190, 190);
  font-size: 1.5rem;
  text-decoration: none;
}
